/* changer les size pour les breakpoints

@mixin main-typography {
	font-family: "Roboto", serif;
	font-size: map-get($font-size, mobile);
	@include tablet-breakpoint {
		font-size: map-get($font-size, tablet);
	}
	@include desktop-breakpoint {
		font-size: map-get($font-size, desktop);
	}
}

@mixin title-typography {
	font-family: "Shrikhand", serif;
}



/*breakpoints*/
/* Restaurant Menu*/
/*------------------------1vw = 1% of viewport width.

$font-size: (
	mobile: 4vw,
	tablet: 2vw,
	desktop: 16px,
);

*/
.img-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 296px;
}

.restaurant-menu {
  background-color: #f6f6f6;
}
.restaurant-menu-container {
  background-color: #f6f6f6;
  position: relative;
  margin-top: -64px;
  /* Monte le menu sur l'image */
  padding: 32px 12px 64px 20px;
  border-radius: 32px 32px 0 0;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}
.restaurant-menu-title {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", italic;
  font-size: 28px;
}
.restaurant-menu-subtitle {
  font-weight: 300;
  text-transform: uppercase;
  /* Force les majuscules */
  border-bottom: 3px solid #99E2D0;
  width: 48px;
  padding-bottom: 5px;
}
.restaurant-menu .card-menu {
  overflow: hidden;
}
.restaurant-menu .card-menu-container {
  margin-bottom: 40px;
}
.restaurant-menu .card-menu-legend {
  padding: 12px;
  width: 80%;
  transition: width 500ms 100ms ease-in-out;
  margin: 0;
}
.restaurant-menu .card-menu-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.restaurant-menu .card-menu-subtitle {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.restaurant-menu .card-menu-price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  color: #353535;
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  margin-right: 16px;
}
.restaurant-menu .card-menu-price-container {
  display: flex;
  position: absolute;
  top: 0;
  right: -64px;
  height: 100%;
  transition: transform 500ms 100ms ease-in-out;
}
.restaurant-menu .card-menu-price-check {
  background-color: #99E2D0;
  width: 64px;
  border-radius: 0 16px 16px 0;
  position: relative;
}
.restaurant-menu .card-menu-price-check .fa-check {
  background-color: #f6f6f6;
  border-radius: 50%;
  color: #99E2D0;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4px;
  transition: transform 600ms ease-in-out;
}
.restaurant-menu .card-menu:hover .card-menu-legend {
  width: 65%;
}
.restaurant-menu .card-menu:hover .card-menu-price-container {
  transform: translateX(-64px);
}
.restaurant-menu .card-menu:hover .fa-check {
  transform: translate(-50%, -50%);
}

.center-container .commander {
  padding: 0 50px;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 63px;
  width: 100%;
}
.header .logo {
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  color: black;
}
.header .back-arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  color: #353535;
  transition: opacity 300ms ease-in-out, transform 200ms ease-in-out;
  font-size: 125%;
}
.header .back-arrow:hover {
  opacity: 0.6;
  transform: scaleX(1.1);
}

.restaurants {
  background: #f6f6f6;
  padding: 18px;
}
.restaurants-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

@media (min-width: 768px) {
  .restaurant-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurant-card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: transform 300ms ease-out;
  position: relative;
}
@media (min-width: 768px) {
  .restaurant-card {
    width: 49%;
    position: sticky;
  }
}
@media (min-width: 1200px) {
  .restaurant-card {
    width: 49%;
  }
}
.restaurant-card-nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant-card-nouveau p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}
.restaurant-card-image {
  width: 100%;
  height: 190px;
}
.restaurant-card-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant-legend {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 0 0 20px 20px;
}
.restaurant-legend-info {
  color: black;
  margin-left: 20px;
}
.restaurant-legend-info > :first-child {
  font-weight: 700;
}

/* -------------------------------------------------------HEART---------------------------------------*/
.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20px;
  position: relative;
}
.heart i {
  font-size: x-large;
}
.heart .heart-full {
  position: absolute;
  background: linear-gradient(#9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 300ms;
}
.heart:hover .heart-full {
  transform: scale(1);
}

/* ----------------------------------------------------------------------------------------------*/
.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: 0;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer a {
  color: white;
}
.footer-total {
  display: inline;
  padding: 22px 25px 22px 25px;
  width: 100%;
  max-width: 1200px;
}
.footer-total .logo {
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding: 15px 0;
}
.footer-total-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
@media (min-width: 768px) {
  .footer-total-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer-total-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer-total-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer-total-link i {
  margin-right: 7px;
}
.footer-total-link .footer-title {
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer-total-link {
    margin-left: 35px;
  }
}
@media (min-width: 768px) {
  .footer-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background: #f6f6f6;
}

/*
html {
	@include main-typography;
}
*/
* a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #EAEAEA;
  color: #353535;
}
.location-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  margin-left: 13px;
  font-weight: 500;
}

.center {
  background: #fafafa;
  width: 100%;
}
.center-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 0;
}
.center-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  max-width: 375px;
  margin: 0;
}
.center-text {
  text-align: center;
  padding-left: 20px;
}
.center-button {
  opacity: 1;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  transition-timing-function: ease-out;
  transition-duration: 0.8s;
}
.center-button a {
  color: white;
}
.center-button:hover, .center-button:active {
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

/* -------------------------------------------------------FUNCTION---------------------------------------*/
.fonction-contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.fonction {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.fonction-title {
  margin: 0;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}
.fonction-text {
  font-weight: 500;
}
.fonction-step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .fonction-step {
    width: 30%;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .fonction-step {
    width: 30%;
    margin: 0;
  }
}
.fonction-number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-80%);
}
.fonction-icon {
  color: #7E7E7E;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .fonction-steps {
    display: flex;
    justify-content: space-between;
    align-items: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}