@charset "UTF-8";
/*breakpoints*/
/*menu-animation*/
/* Restaurant Menu*/
.img-restaurant img {
  object-fit: cover;
  height: 383px;
}

.animation1 {
  animation: menu-appear 1000ms 0ms both ease-in-out;
}

.animation2 {
  animation: menu-appear 1000ms 1500ms both ease-in-out;
}

.animation3 {
  animation: menu-appear 1000ms 3000ms both ease-in-out;
}

.restaurant-menu {
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .restaurant-menu {
    background-color: white;
  }
}
@media (min-width: 1200px) {
  .restaurant-menu {
    background-color: white;
  }
}
.restaurant-menu-container {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -40px;
  /* Monte le menu sur l'image */
  padding: 32px 12px 30px 20px;
  border-radius: 32px 32px 0 0;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .restaurant-menu-container {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .restaurant-menu-container {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.restaurant-menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 28px;
  font-size: 28px;
}
.restaurant-menu-subtitle {
  font-weight: 300;
  text-transform: uppercase;
  /* Force les majuscules */
  border-bottom: 3px solid #99E2D0;
  width: 48px;
  padding-bottom: 5px;
  font-family: "roboto";
  font-weight: 300;
  font-size: 16px;
}
.restaurant-menu .heart {
  margin-left: 20px;
}
@media (min-width: 768px) {
  .restaurant-menu .menu-animation {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .restaurant-menu .menu-animation {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
  }
}
@media (min-width: 768px) {
  .restaurant-menu .restaurant-card {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .restaurant-menu .restaurant-card {
    width: 100%;
  }
}
.restaurant-menu .card-menu {
  overflow: hidden;
}
.restaurant-menu .card-menu-container {
  margin-bottom: 40px;
}
.restaurant-menu .card-menu-legend {
  padding: 12px;
  transition: width 500ms 100ms ease-in-out;
  margin: 0;
}
.restaurant-menu .card-menu-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.restaurant-menu .card-menu-subtitle {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  width: calc(100% - 50px);
}
.restaurant-menu .card-menu-price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  color: #353535;
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  margin-right: 16px;
}
.restaurant-menu .card-menu-price-container {
  display: flex;
  position: absolute;
  top: 0;
  right: -64px;
  height: 100%;
  transition: transform 500ms 100ms ease-in-out;
}
.restaurant-menu .card-menu-price-check {
  background-color: #99E2D0;
  width: 64px;
  border-radius: 0 16px 16px 0;
  position: relative;
}
.restaurant-menu .card-menu-price-check .fa-check {
  background-color: #f6f6f6;
  border-radius: 50%;
  color: #99E2D0;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 4px;
  padding: 4px;
  transition: transform 600ms ease-in-out;
}
.restaurant-menu .card-menu:hover .card-menu-legend {
  width: calc(100% - 130px);
}
.restaurant-menu .card-menu:hover .card-menu-price-container {
  transform: translateX(-64px);
}
.restaurant-menu .card-menu:hover .fa-check {
  transform: translate(-50%, -50%);
}

.center-container .commander {
  padding: 0 50px;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 63px;
  width: 100%;
  background-color: white;
}
@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 80px;
  }
}
.header .logo {
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  color: black;
}
.header .back-arrow {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #353535;
  transition: opacity 300ms ease-in-out, transform 200ms ease-in-out;
  font-size: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.header .back-arrow:hover {
  opacity: 0.6;
}

.restaurants {
  background: #f6f6f6;
  padding: 1% 5%;
}
.restaurants-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}

.restaurant-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.restaurant-card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: transform 300ms ease-out;
  position: relative;
}
@media (min-width: 768px) {
  .restaurant-card {
    width: 49%;
    position: sticky;
  }
}
@media (min-width: 1200px) {
  .restaurant-card {
    width: 49%;
    position: sticky;
  }
}
.restaurant-card-nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant-card-nouveau p {
  color: #1b6150;
  padding: 10px 10px;
  margin: 0;
}
.restaurant-card-image {
  width: 100%;
  height: 190px;
}
.restaurant-card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant-legend {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 0 0 20px 20px;
}
.restaurant-legend-info {
  color: black;
  margin-left: 20px;
}
.restaurant-legend-info > :first-child {
  font-weight: 700;
}

/* -------------------------------------------------------HEART---------------------------------------*/
.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20px;
  position: relative;
}
.heart i {
  font-size: x-large;
}
.heart .heart-full {
  position: absolute;
  background: linear-gradient(#9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: 0.4s ease;
}
.heart:hover .heart-full {
  transform: scale(1.1);
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------*/
.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer {
    height: 114px;
    display: flex;
    justify-content: flex-end;
    align-items: normal;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer {
    height: 114px;
    display: flex;
    justify-content: flex-end;
    align-items: normal;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer a {
  color: white;
}
.footer-total {
  display: inline;
  padding: 22px 25px 22px 25px;
  width: auto;
}
.footer-total .logo {
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin: 15px 30px 0 0;
}
@media (min-width: 768px) {
  .footer-total .logo {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .footer-total .logo {
    margin: 0;
  }
}
.footer-total-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
@media (min-width: 768px) {
  .footer-total-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer-total-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer-total-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer-total-link i {
  margin-right: 7px;
}
.footer-total-link .footer-title {
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer-total-link {
    margin-left: 35px;
  }
}
@media (min-width: 1200px) {
  .footer-total-link {
    margin-left: 35px;
  }
}
@media (min-width: 768px) {
  .footer-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .footer-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

/* Animation du fond du loader => */
@keyframes loader-container {
  70% {
    opacity: 1;
  }
  99%, 100% {
    opacity: 0;
  }
  70%, 99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0); /* Pour que le loadeur disparaisse à la fin de l'animation */
  }
}
/* <= Animation du fond du loader */
/* Animation de rotation du loader => */
@keyframes loader-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
/* <= Animation de rotation du loader */
/* Animation d'apparition des parties des menus => */
@keyframes menu-appear {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* <= Animation d'apparition des parties des menus */
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.loader {
  animation: loader-rotate 1s infinite linear; /* L'animation s'effectue à vitesse constante*/
  border-radius: 50%;
  border: 16px solid #FF79DA;
  border-left: 16px solid #9356DC;
  width: 160px;
  height: 160px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Pour que le loadeur soit toujours à la meme position sur l'écran */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(153, 226, 208, 0.4);
  animation: loader-container forwards 3s; /* La cible retiendra les valeurs calculées définies lors de la dernière étape */
  z-index: 99;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #EAEAEA;
  color: #353535;
  height: 50px;
}
.location-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  margin-left: 13px;
  font-weight: 500;
}

.center {
  background: #f6f6f6;
  width: 100%;
}
.center-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 35px 0;
}
.center-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .center-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 40px;
  }
}
.center-text {
  text-align: center;
  padding-left: 20px;
  margin-bottom: 35px;
}
.center-button {
  opacity: 1;
  background: linear-gradient(190deg, #9356DC 20%, #FF79DA 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  transition: 0.8s ease;
  transform: scale(1);
}
.center-button a {
  color: white;
}
.center-button:hover, .center-button:active {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* -------------------------------------------------------FUNCTION---------------------------------------*/
.fonction-contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.fonction {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.fonction-title {
  margin: 0;
  padding: 20px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
}
.fonction-text {
  font-weight: 500;
}
.fonction-step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 20px 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .fonction-step {
    width: 30%;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .fonction-step {
    width: 30%;
    margin: 0;
  }
}
.fonction-number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-80%);
}
.fonction-icon {
  color: #7E7E7E;
  margin: 0 20px;
}
.fonction-icon .fa-store {
  color: #9356DC;
}
@media (min-width: 768px) {
  .fonction-steps {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: row;
    flex-wrap: wrap;
  }
}