@import "./utlis/mixins.scss";
@import "./utlis/variables.scss";
@import "./layouts/menu";
@import "./layouts/header";
@import "./layouts/restaurant";
@import "./layouts/footer";
@import "./utlis/breakpoints";
@import "./utlis/keyframes";




body {
    
    font-family: $font-primary;
    margin: 0;
    background: #f6f6f6;
}

* a {
    text-decoration: none;

}

h1 {
    font-family: $font-secondary;
    font-weight: 400;
}

h2{
    font-family: $font-secondary;
    font-weight: 400; 
    font-size: 28;
}

h3{
    font-family: $font-primary;
    font-weight: 300; 
    font-size: 16px;
}

img {
	width: 100%;
	height: auto;
}

.main {
    margin: 0;
    padding: 0;
    @include flexbox (center, center, column);
}


.location {
    @include flexbox (center, center, row);
    background: #EAEAEA;
    color: #353535;

    &-text {
        margin-left: 13px;
        font-weight: 500;
    }
}


.center {
    background: #fafafa;
    width: 100%;

    &-container {
        width: 100%;
        @include flexbox (center, center, column);
        padding: 50px 0;
    }

    &-title {
        text-align: center;
        max-width: 375px;
        margin: 0;
    }

    &-text {
        text-align: center;
        padding-left: 20px;
    }

    &-button {
        @include button-style;

        &:hover, &:focus {
            @include button-hover;
        }
    }
}

/* -------------------------------------------------------FUNCTION---------------------------------------*/

.fonction-contain {
    padding: 25px 0;
    width: 100%;
    background: white;
    @include flexbox (center, center, column);
}

.fonction {
    width: 95%;
    max-width: 1200px;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;

    &-title {
        margin: 0;
        padding: 20px;
    }

    &-text {
        font-weight: 500;
    }

    &-step {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        height: auto;
        width: auto;
        margin: 10px 20px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: $box-shadow;
    }

    &-number {
        background-color: $color-primary;
        color: white;
        position: absolute;
        padding: 3px 8px 3px 8px;
        border-radius: 500px;
        transform: translateX(-80%);
    }

    &-icon {
        color: #7E7E7E;
        margin: 0 20px;
    }

    &-steps {
        @include flexbox (center, 0, column);
    }
}

