.footer {
    width: 100%;
    background-color: #353535;
    @include flexbox (center, 0, column);

    & a {
        color: white;
    }

    &-total {
        display: inline;
        padding: 22px 25px 22px 25px;
        width: 100%;
        max-width: 1200px;

        & .logo {
            font-family: 'Shrikhand', cursive;
            color: white;
            font-size: 20px;
            padding: 15px 0;
        }

        &-links {
            display: inline-flex;
            flex-direction: column;
            width: auto;
        }

        &-link {
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            height: 30px;
            cursor: pointer;

            & i {
                margin-right: 7px;
            }

            & .footer-title {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}