.header {
    box-shadow: $box-shadow;
    position: relative;
    @include flexbox (center, center, column);
    height: 63px;
    width: 100%;
    background-color: white;

    @include tablet-breakpoint {
        height: 80px;
    }

    @include desktop-breakpoint {
        height: 80px;
    }


    .logo {
        @include font-menu-card ('shrikhand', 400, 30px);
        margin: 0;
        color: black;
    }



    .back-arrow {
        position: absolute;
        bottom: 30px;
        left: 30px;
        color: #353535;
        transition: opacity 300ms ease-in-out, transform .2s ease-in-out;
        font-size: 125%;
        @include flexbox (center, center, column);

        &:hover {
            opacity: 0.6;
        }

    }

}