.img-restaurant {
    img {
        object-fit: cover;
        height: 296px;
    }
}

.restaurant-menu {
    background-color: #f6f6f6;
    @include tablet-breakpoint {
        background-color: white;
    }

    @include desktop-breakpoint {
        background-color: white;
    }


    &-container {
        background-color: #f6f6f6;
        position: relative;
        margin-top: -64px;
        /* Monte le menu sur l'image */
        padding: 32px 12px 30px 20px;
        border-radius: 32px 32px 0 0;
        box-shadow: $box-shadow;

        @include tablet-breakpoint {
            margin-left: 35px;
            margin-right: 35px;
        }
    
        @include desktop-breakpoint {
            margin-left: 35px;
            margin-right: 35px;
        }

    }

    &-title {
        display: flex;
        justify-content: space-between;
        font-family: $font-secondary;
        font-size: 28px;
    }

    &-subtitle {
        font-weight: 300;
        text-transform: uppercase;
        /* Force les majuscules */
        border-bottom: 3px solid $color-tertiary;
        width: 48px;
        padding-bottom: 5px;
    }


    .card-menu {
        overflow: hidden;


&-container{
margin-bottom: 40px;
}
        &-legend {
            padding: 12px;
            width: 80%;
            transition: width 500ms 100ms ease-in-out;
            margin: 0;
        }

        &-title {
            @include font-menu-card ('Roboto', 500, 16px);
            @include ellipsis;
            margin: 0;
        }

        &-subtitle {
            @include font-menu-card ('Roboto', 300, 14px);
            @include ellipsis;
            margin: 0;
        }

        &-price {
            &-container {
                display: flex;
                position: absolute;
                top: 0;
                right: -64px;
                height: 100%;
                transition: transform 500ms 100ms ease-in-out;
            }

            @include font-menu-card-price;
            display: flex;
            align-items: flex-end;
            margin-bottom: 16px;
            margin-right: 16px;
        }

        &-price-check {
            background-color: $color-tertiary;
            width: 64px;
            border-radius: 0 16px 16px 0;
            position: relative;

            .fa-check {
                background-color: #f6f6f6;
                border-radius: 50%;
                color: $color-tertiary;
                position: absolute;
                top: 50%;
                left: 50%;
                padding: 4px;
                transition: transform 600ms ease-in-out;
            }
        }

        &:hover {
            .card-menu {
                &-legend {
                    width: 65%;

                }

                &-price-container {
                    transform: translateX(-64px);
                }
            }

            .fa-check {
                transform: translate(-50%, -50%);
            }
        }
    }

}

.center-container{
    .commander{
       padding: 0 50px ;
    
    }
}