
$breakpoints: (
	tablet: 768px,
	desktop: 1200px,);


@mixin tablet-breakpoint {
	@media (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}

@mixin desktop-breakpoint {
	@media (min-width: map-get($breakpoints, desktop)) {
		@content;
	}
}