@mixin flexbox ($justify-content: center, $align-items: center, $flex-direction: column, $flex-wrap:wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}


/*breakpoints*/

@mixin tablet-breakpoint {
	@media (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}

@mixin desktop-breakpoint {
	@media (min-width: map-get($breakpoints, desktop)) {
		@content;
	}
}


/*menu-animation*/

@mixin menu-appear($delay: 0ms) {
	animation: menu-appear 1000ms $delay both ease-in-out; 
}

        

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: $box-shadow;
    transition-timing-function:ease-out;
    transition-duration: 0.8s; 
}

@mixin button-hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: $box-shadow;
    font-weight: 300;
}


/* Restaurant Menu*/

@mixin ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


@mixin font-menu-card ($font-family: 'Roboto', $font-weight:300, $font-size:14px)
{
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
}

@mixin font-menu-card-price ($font-family: 'Roboto', $font-weight:700, $font-size:15px, $color:#353535)
{
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color
}

