$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gray-light: #f6f6f6;
$grey2:#EAEAEA;
$gradient : linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
$box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20);
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', italic;



$breakpoints: (
	tablet: 768px,
	desktop: 1200px,
);